<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avant.eng.daedotester">

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".InitialScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home"
            android:parentActivityName=".InitialScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.avant.eng.daedotester.InitialScreen" />
        </activity>
        <activity
            android:name=".TestCategory"
            android:label="@string/title_activity_test_screen"
            android:parentActivityName=".HomeScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.avant.eng.daedotester.HomeScreen" />
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_menu_test_mode"
            android:parentActivityName=".TestCategory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.avant.eng.daedotester.TestCategory" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".HomeScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.avant.eng.daedotester.HomeScreen" />
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".HomeScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.avant.eng.daedotester.HomeScreen" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" />

</manifest>